name: Rust Build & Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgrespassword
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - name: Checkout the latest code from branch
      uses: actions/checkout@v2
      
    - name: Build project
      run: cargo build --verbose

    - name: Setup basic schema on DB
      run: psql postgresql://postgres:postgrespassword@localhost:5432/postgres -f test/schema.sql

    - name: Run tests
      run: cargo test --verbose
      env:
        DATABASE_URL: postgresql://postgres:postgrespassword@localhost:5432/postgres
